h1 {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
}

.container {
    text-align: center;
}

button {
    padding: 10px;
    margin: 24px;
    cursor: pointer;
    font-size: 24px;
    background-color: blue;
    color: darkkhaki;
}

.container{
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
}